<h1 class="configration-title"><%= image_tag 'ios7-gear-outline.png' %>Configration</h1>

<%= form_for @setting, url: setting_path, html: {class: 'form-horizontal'} do |f| %>

  <%= f.label :root_path, 'ベースパス', class: "col-xs-2 control-label" %>
  <div class="col-xs-10 form-group">
    <% @setting.errors[:writable_path].each do |msg| %> 
      <div class="alert alert-warning" role="alert"><%= msg %></div>
    <% end %>

    <%= f.text_field :root_path, class: 'form-control' %>
  </div>


  <div class="form-group">
    <div class="col-xs-2 col-xs-offset-10">
      <%= f.submit '更新', class: 'btn btn-primary form-control' %>
    </div>
  </div>
<% end %>
