<% if @item.not_found? %>
    <div class="alert alert-warning" role="alert">Sorry, This file could not be found...</div>
<% end  %>

<h4><%= (Pathname.new(@setting.root_path) + @item.relative_path).dirname %></h4>
<h1><%= @item.file_name %></h1>

<div class="row">
  <div class="col-xs-12">
    <span class="digest"><%= @item.digest %></span>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <% @item.tags.each do |tag| %>
      <span class="label label-info"><%= link_to tag.name, "/tags/#{tag.name}", class: 'tag' %></span>
    <% end %>
  </div>
</div>

<% if @item.description.present? %>
<div class="row row-description">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
      <%= simple_format(h(@item.description)) %>
      </div>
    </div>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-12">
    <%= link_to "edit", edit_item_path(@item) %>
  </div>
</div>
